body {
 margin: 0;
 padding: 0;
}

/* Carousel */
.carousel_container{
  display: flex;
  gap: 20px;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center both vertically and horizontally */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Box shadow for a lifted effect */
  z-index: 10000; /* Ensure it is above the overlay */
}
